.place__title {
    max-width: 460px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 105.55%;
    margin: 0;
    grid-area: title;
}

@media screen and (max-width: 1280px) {
    .place__title {
        font-size: 5.625vw;
        max-width: 46.74%;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 47.22%;
        font-size: 5.46vw;
        line-height: 109.52%;
        margin: auto 0 0;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: 90%;
        font-size: 10vw;
        line-height: 109.37%;
        margin: 0 auto;
    }
}