.header__logo-text {
    position: relative;
    min-width: 271px;
    max-height: 20px;
    margin: 52px auto 0;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}