.cover__subtitle {
    max-width: 320px;
    max-height: 66px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px auto 0;
}

.cover__subtitle span {
    display: block;
}