.intro__text-quote {
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 141.66%;
    margin: 40px 0 0 0;
}

@media screen and (max-width: 1280px) {
    .intro__text-quote {
        font-size: 1.875vw;
        max-width: 87.89%;
    }
}

@media screen and (max-width: 768px) {
    .intro__text-quote {
        font-size: 3.125vw;
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .intro__text-quote {
        max-width: 100%;
        font-size: 7.5vw;
        line-height: 1.25;
    }
}