@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        max-height: 890px;
        margin: 88px auto 0;
    }

    .lead__title {
        max-width: 720px;
        max-height: 300px;
    }

    .lead__image {
        width: 768px;
        height: 450px;
        margin: 36px auto 0;
    }

    .intro {
        max-width: 720px;
        max-height: 548px;
        margin: 88px auto 0;
    }

    .intro__title {
        max-width: 720px;
        max-height: 174px;
    }

    .intro__text-quote {
        max-width: 720px;
        max-height: 102px;
    }

    .intro__text-author {
        max-width: 720px;
        max-height: 34px;
    }

    .intro__text {
        max-width: 720px;
        max-height: 156px;
    }

    .photo-grid {
        grid-template-rows: repeat(4, 264px);
        grid-template-columns: repeat(2, 352px);
        grid-gap: 16px;
        max-width: 720px;
        max-height: 1104px;
        margin: 88px auto 0;
    }

    .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
    }

    .places {
        max-width: 720px;
        margin: 88px auto 0;
    }

    .place {
        max-width: 720px;
        margin: 0 0 72px;
    }

    .place:first-child {
        height: 580px;
    }

    .place:nth-child(2) {
        height: 580px;
    }

    .place:nth-child(3) {
        height: 600px;
    }

    .place:nth-child(4) {
        height: 800px;
    }

    .place:nth-child(5) {
        height: 800px;
    }

    .place__title {
        max-width: 340px;
        max-height: 92px;
        font-size: 42px;
        line-height: 46px;
        margin: auto 0 0;
    }

    .place__website {
        max-width: 340px;
        margin: auto 0 0 28px;
    }

    .place__url-heading {
        font-size: 12px;
        line-height: 15px;
    }

    .place__link {
        font-size: 18px;
        line-height: 22px;
    }

    .place__image {
        width: 340px;
        height: 340px;
    }

    .place__paragraphs {
        margin: 48px 0 0 28px;
        max-width: 352px;
        max-height: 340px;
    }

    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 163%;
    }

    .place__paragraph:last-child {
        margin: 0;
    }

    .place__paragraph-link {
        font-size: 18px;
        line-height: 22px;
    }

    .cover {
        max-width: 768px;
        max-height: 746px;
        background-image: url("../../images/__background 768.png");
        margin: 88px auto 0;
    }

    .cover__group {
        max-width: 656px;
        max-height: 254px;
        margin: 246px auto 246px;
    }

    .cover__title {
        max-width: 656px;
        max-height: 76px;
        font-size: 72px;
        line-height: 76px;
    }

    .cover__subtitle {
        max-width: 320px;
        max-height: 66px;
        margin: 32px auto 0;
        font-size: 18px;
        line-height: 22px;
    }

    .cover__frame {
        width: 137px;
        height: 48px;
        margin: 32px auto 0;
    }

    .cover__paragraph {
        max-width: 97px;
        max-height: 22px;
        font-size: 18px;
        line-height: 22px;
    }

    .footer {
        max-width: 165px;
        max-height: 16px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-height: 71.46px;
        max-width: 200px;
    }

    .header__logo {
        max-height: 51.46px;
        max-width: 200px;
        padding-top: 20px;
    }

    .header__logo-square {
        width: 23.8px;
        height: 23.8px;
        top: 20px;
    }

    .header__logo-vertical {
        width: 1.49px;
        height: 19.33px;
        top: 4.46px;
        left: 6.69px;
    }

    .header__logo-horizontal {
        width: 23.8px;
        height: 1.49px;
        top: 4.46px;
    }

    .header__logo-text {
        max-width: 200px;
        max-height: 11.11px;
        margin: 40.35px auto 0;
        font-size: 14px;
        line-height: 11.11px;
    }

    .lead {
        max-width: 320px;
        max-height: 500px;
        margin: 50.54px auto 0;
    }

    .lead__title {
        max-width: 288px;
        max-height: 132px;
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle {
        max-width: 288px;
        max-height: 40px;
        font-size: 16px;
        line-height: 20px;
    }

    .lead__image {
        width: 320px;
        height: 187px;
        margin: 40px auto 0;
    }

    .intro {
        max-width: 288px;
        max-height: 886px;
        margin: 64px auto 0;
    }

    .intro__title {
        max-width: 288px;
        max-height: 140px;
        font-size: 32px;
        line-height: 35px;
    }

    .intro__text-quote {
        max-width: 288px;
        max-height: 240px;
        font-size: 24px;
        line-height: 30px;
    }

    .intro__text-author {
        max-width: 288px;
        max-height: 34px;
        font-size: 24px;
        line-height: 34px;
    }

    .intro__text {
        max-width: 288px;
        max-height: 390px;
        font-size: 16px;
        line-height: 163%;
    }

    .photo-grid {
        position: relative;
        grid-gap: 12px;
        grid-template-columns: none;
        grid-template-rows: repeat(8, 216px);
        max-width: 288px;
        max-height: 1812px;
        margin: 90px auto 0;
    }

    .photo-grid__item {
        max-width: 288px;
        max-height: 216px;
    }

    .places {
        max-width: 320px;
        margin: 64px auto 0;
    }
    .place {
        max-width: 320px;
        display: block;
        margin: 0 0 48px;
    }

    .place:first-child {
        height: 1138px;
    }

    .place:nth-child(2) {
        height: 1212px;
    }

    .place:nth-child(3) {
        height: 1142px;
    }

    .place:nth-child(4) {
        height: 1436px;
    }

    .place:nth-child(5) {
        height: 1350px;
    }

    .place__title {
        max-width: 288px;
        max-height: 70px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 0;
    }

    .place__website {
        max-width: 288px;
        max-height: 90px;
        margin: 30px auto 0;
    }

    .place__url-heading {
        max-width: 288px;
        max-height: 12px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
    }

    .place__link {
        max-width: 288px;
        max-height: 66px;
        font-size: 18px;
        line-height: 22px;
    }

    .place__image {
        width: 320px;
        height: 320px;
        margin: 30px auto 0;
    }

    .place__paragraphs {
        max-width: 288px;
        max-height: 850px;
        margin: 32px auto 0;
    }

    .place__paragraph {
        max-width: 288px;
        font-size: 16px;
        line-height: 163%;
    }

    .place__paragraph:last-child {
        margin: 0;
    }

    .place__frame {
        width: 288px;
        height: 48px;
        margin: 30px auto 0;
    }

    .cover {
        width: 320px;
        height: 254px;
        background-image: url("../../images/__background 320.png");
        margin: 64px auto 0;
    }

    .cover__group {
        max-width: 288px;
        max-height: 163px;
        margin: 46px auto 45px;
    }

    .cover__title {
        max-width: 288px;
        max-height: 35px;
        margin: 0 auto 0;
        font-size: 32px;
        line-height: 35px;
    }

    .cover__subtitle {
        max-width: 288px;
        max-height: 48px;
        margin: 16px auto 0;
        font-size: 14px;
        line-height: 16px;
    }

    .cover__frame {
        width: 137px;
        height: 48px;
        margin: 16px auto 0;
    }

    .cover__paragraph {
        max-width: 97px;
        max-height: 22px;
        margin: 0;
        font-size: 18px;
        line-height: 22px;
    }

    .footer {
        max-width: 165px;
        max-height: 14px;
        margin: 64px auto 0;
    }

    .footer__copyright {
        max-width: 165px;
        max-height: 14px;
        font-size: 14px;
        line-height: 14px;
    }
}