.lead__subtitle {
    max-width: 720px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 32px auto 0;
}

@media screen and (max-width: 1280px) {
    .lead__subtitle {
        font-size: 2.34vw;
        max-width: 73.17%;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        font-size: 3.9vw;
        max-width: 93.75%;
    }
}

@media screen and (max-width: 568px) {
    .lead__subtitle {
        max-width: 90%;
        font-size: 5vw;
        line-height: 1.25;
        margin: 16px auto 0;
    }
}