.cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    margin: 92px auto 0;
    background-image: url("../../images/__background.png");
    background-size: cover;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.8;
    transition: 0.8s;
}

@media screen and (max-width: 1280px) {
    .cover {
        max-width: 92.5%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 100%;
        background-image: url("../../images/__background_768.png");
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 100%;
        background-image: url("../../images/__background_320.png");
        margin: 64px auto 0;
    }
}