.cover__title {
    max-width: 656px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 105.55%;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .cover__title {
        max-width: 100%;
        font-size: 5.62vw;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: 9.37vw;
    }
}

@media screen and (max-width: 568px) {
    .cover__title {
        font-size: 10vw;
        line-height: 109.37%;
    }
}