.intro__title {
    max-width: 785px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107.40%;
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .intro__title {
        font-size: 4.21vw;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .intro__title {
        font-size: 7.03vw;
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 100%;
        font-size: 10vw;
        line-height: 109.37%;
    }
}